@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>@ViewBag.ClientName</h2>
    <h1>WELСOME</h1>@Html.ActionLink("Go to basket", "GetCart", "CartItem")
    <p class="lead">Our store is always open for YOU !!!</p>
    <img src='../../Areas/Pictures/products.jpg' alt ='Shop' style='width: 100%; height: 500px; border: 0'>
    
</div>
