@model WebShop.Model.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="Login">огин</label>
            <div class="col-md-10">
                <input name="Login" class="form-control text-box single-line" id="Login" type="text" value="" data-val-required="The Логин field is required." data-val="true" data-val-length-min="3" data-val-length-max="10" data-val-length="The field Логин must be a string with a minimum length of 3 and a maximum length of 10.">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Login"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Пароль</label>
            <div class="col-md-10">
                <input name="Password" class="form-control text-box single-line password" id="Password" type="password" value="" data-val-required="The Пароль field is required." data-val="true" data-val-length-min="3" data-val-length-max="10" data-val-length="The field Пароль must be a string with a minimum length of 3 and a maximum length of 10.">
                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Password"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-default" type="submit" value="Login">
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
