
.fon1{
    background-repeat: no-repeat;
    background-attachment:local;
    width: 200px;
    height: 100px;
    float:initial ;
}
.fon2{
    background-repeat: no-repeat;
    background-attachment: local;
    width: 0.01px;
    height: 1px;
    float:inherit ;
}

.iso {
    background-repeat: no-repeat;
    background-attachment:fixed;
    width: 30px;
    height: 30px;
    float: left;
}
.mainImageDetail{
    background-attachment:fixed;
    background-position : 10% 60%;
    /*background-position : 80px 10px;*/
    background-repeat :no-repeat;
    width: 400px;
    height:400px;
}
.notImage{
    background-attachment:fixed;
    /*background-position : 10% 60%;*/
    background-position : 80px 100px;
    background-repeat :no-repeat;
    width: 100px;
    height:100px;
}
.cart.input{   
    background-position : 80px 100px;
    color:aqua;
    text-align:center;
}
.addImage{
     background-position : 80px 100px;
}
.mainImage{
     background-position : 80px 10px;
     background-repeat :no-repeat;
     width: 500px;
     height:400px;
     float: right;
}