@{
    ViewBag.Title = "Home Page";
}
<div style="background-image: url('/Pictures/Manager.jpg');  background-repeat: round;  background-attachment: Local; ">
    <div class="jumbotron">
        <h1>ATTENTION</h1>
        <p class="lead">Here you can change the settings store controls</p>
    </div>
</div>