@model WebShop.Model.ViewModel.CartViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div class="iso">

    <img src='~/Pictures/Cart.jpg' alt='ListCart' style='width: 30%; height: 30%; border: 0'>
</div>