@model IEnumerable<WebShop.Model.ViewModel.CompositeCategoryViewModel>

<ul class="category">
    @foreach (var category in Model)
    {
        <li><a href="#">@category.CategoryName</a>
            <ul>
                @foreach (var subcategory in category.Subcategories)
                {
                    <li>@Html.ActionLink(subcategory.SubcategoryName, "ListSubcategories", "Product")</li>
                }
            </ul>
        </li>
    }
    <li>@Html.ActionLink("All Products", "ListAllproduct", "Product")</li>
</ul>
