@model IEnumerable<WebShop.Model.ViewModel.CompositeCategoryViewModel>

<ul class="category">
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.CategoryName, "ListSubcategories", "Subcategory")

            <ul>
                @foreach (var subcategory in category.Subcategories)
                {
                    <li>@Html.ActionLink(subcategory.SubcategoryName, "ProductsOfSubcategory", "Product")</li>
                }
            </ul>
        </li>
    }
    <li>@Html.ActionLink("AllProducts", "ListAllproduct", "Product")</li>
</ul>
