@model IEnumerable<WebShop.Model.ViewModel.CompositeCategoryViewModel>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
    @foreach (var category in Model)
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@category.CategoryName<span class="caret"></span></a>
            <ul class="dropdown-menu">
            @foreach (var subcategory in category.Subcategories)
            {
                <li>@Html.ActionLink(subcategory.SubcategoryName, "ListProductSubcategories", "Product")</li>
            }
               
            </ul>
        </li>
    }
        <li>@Html.ActionLink("All Product", "ListAllProduct", "Product")</li>
    </ul>
</div>
