@model IEnumerable<WebShop.Model.ViewModel.SubcategoryViewModel>

@{
    ViewBag.Title = "ListProductSubcategories";
}

<div class="fon1">
 <img src='/Pictures/Large home appliances.jpg' alt='product1'>
</div>

<div class="fon2">
<img src='/Pictures/Small home appliances.jpg' alt='product2'>
</div>
<br />
<div class="submenu ">
    <ul class="subcategory">
        @foreach (var subcategory in Model)
        {
            <li>@Html.ActionLink(subcategory.SubcategoryName, "ProductsOfSubcategory", "Product", new { id = subcategory.SubcategoryId }, null)</li>
        }
    </ul>
</div>