body {
    width: 98%;
    height: 98%;
    margin: 0px 10px 0px 0px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:whitesmoke;
}
#page_header{
    padding: 1px;
     background-color:black;    
}
#logo {
    position:relative;
    width: 26%;
    display:block;
    margin: 0px;
    height: 100%;

}
#site_map {
     width: 59%;
}
.search_wrap, .greeting {   
    height: 30px;   
}

.greeting {
     background-color:red;
     width: 100%;
     margin: 5px 0px 5px 0px;
}

#user_section {
    width: 12%;
}
.site_nav, .search_wrap {
    width: 98%;
    margin: 5px;
}


.link_blok, .user_link_blok {    
    display:inline-block;
    height: 30px;    
    background-color:red;
    padding: 10px;
    text-align:center;  
}

.user_link_blok {
    padding: 0;
}

a{
    text-decoration:none;
    color:black;    
}

#sidebar {
    float:left;
    width:22%;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid blue;
}
.category_li {
    display: block;    
    width: 98%;
    height: 25px;
    color:brown;
    background-color:bisque;
    margin: 1px auto;
    padding: 3px;
}
 #posts {
     float:left;
     width:76%;
     margin: 5px auto;
     padding: 5px;
     border: 1px solid blue;
 }

 
 #page_footer {
     background-color:lightgray;
     clear:both;
}

/* .social_icon, .footer_section {
     display: inline-block;
 }*/
 .footer_section {
     width:49%;
 }
 
#logo, #site_map, #user_section, .social_icon, .footer_section {
    display: inline-block;
}




