
body{
	color: red;
	background-image: url(Provider.jpg);
 background-repeat: no-repeat;

}
div.header{
 width:100%;
 height:200px;
}
 div.header h1{
 text-align:center;}
 
div.menu {
width:100%;
 height:70px;
  background-color:blue;
}
div.menu li  {display:inline;}
div.menu  li a{
    background-color:grey;
    color:yellow;
    padding:10px 15px;
    text-decoration: none;
    border-radius:10px 10px 0 0;
    outline:none;
}
div.menu li a b{background-color:red;}
div.menu li a:visited{background-color:black;}
div.menu li a:hover {background-color:red;text-decoration:underline;}

div.logo{
  float:right;
  margin-left:25px;
  width:10%;
}
div.content{
	 width:100%;
height:590px;

}

div.footer{
 clear:both;
 width:100%;
 height:40px;
 text-align:center;
 background-color:yellow;
    color:black;
}

h3{
    color: blue;
}

